<style>
    .h1-home {
        font-size: clamp(2.5rem, 4vw, 3.5rem);
        text-align: center;
        color: #333;
    }

    .login-container {
        max-width: 950px;
        background-color: white;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .form-btn-entrar {
        width: 100%;
        margin-top: 1rem;
    }

    .caixa {
        margin-top: 5px;
    }

    .divGG {
        height: 150vh;
        width: 100%;
    }
</style>

<div class="divGG">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="login-container">
                    <form>
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">E-mail</label>
                            <input type="email" class="form-control form-control-lg" id="inputEmail"
                                placeholder="email@email.com">
                        </div>
                        <div class="mb-3">
                            <label for="inputPass" class="form-label">Senha</label>
                            <input type="password" class="form-control form-control-lg" id="inputPass"
                                placeholder="Digite sua senha">
                        </div>
                        <div class="mb-3">
                            <label for="inputPass" class="form-label">cidade</label>
                            <input type="password" class="form-control form-control-lg" id="inputPass"
                                placeholder="Digite sua cidade">
                        </div>
                        <div class="mb-3">
                            <label for="inputPass" class="form-label">usuario</label>
                            <input type="password" class="form-control form-control-lg" id="inputPass"
                                placeholder="Digite seu nome de usuario">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="login-container">
                    <form>
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Data de nascimento</label>
                            <input type="email" class="form-control form-control-lg" id="inputEmail"
                                placeholder="informe sua data de nascimento">
                        </div>
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Gênero</label>
                            <input type="email" class="form-control form-control-lg" id="inputEmail"
                                placeholder="informe seu genero">
                        </div>
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Atividade Física</label>
                            <input type="email" class="form-control form-control-lg" id="inputEmail"
                                placeholder="digite sua atividade fisica">
                        </div>
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Objetivo da Alimentação</label>
                            <input type="email" class="form-control form-control-lg" id="inputEmail"
                                placeholder="digite seu objetivo da Alimentação">
                        </div>
                    </form>
                </div>
            </div>
            <div class="caixa"> <p>Aceito receber notificação no Email</p></div>
            <div class="caixa"> <p>Aceito os termos de serviço</p></div>
        </div>
    </div>
</div>