<style>
    .h1-home {
        font-size: clamp(2.5rem, 4vw, 3.5rem);
        text-align: center;
        color: #333;
    }

    .login-container {
        max-width: 950px;
        background-color: white;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .form-btn-entrar {
        width: 100%;
        margin-top: 1rem;
    }
</style>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-auto"></div>
        <div class="col-lg-6 col-md-8">
            <div class="login-container">
                <h1 class="h1-home">Entrar</h1>
                <form>
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">E-mail</label>
                        <input type="email" class="form-control form-control-lg" id="inputEmail"
                            placeholder="email@email.com">
                    </div>
                    <div class="mb-3">
                        <label for="inputPass" class="form-label">Senha</label>
                        <input type="password" class="form-control form-control-lg" id="inputPass"
                            placeholder="Digite sua senha">
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg form-btn-entrar">Cadastrar-se</button>
                </form>
            </div>
        </div>
        <div class="col-lg-auto"></div>
    </div>
</div>