<style>
    .h1-home {
        font-size: clamp(2.5rem, 4vw, 3.5rem);
        text-align: center;
        color: #333;
    }

    .login-container {
        max-width: 950px;
        background-color: white;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .form-btn-entrar {
        width: 100%;
        margin-top: 1rem;
    }

    .divGG {
        height: 90vh;
    }
</style>

<div class="divGG">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-auto"></div>
            <div class="col-lg-6 col-md-8">
                <div class="login-container">
                    <h1 class="h1-home">Entrar</h1>
                    <form action="/api/login" method="POST">
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">E-mail</label>
                            <input type="email" class="form-control form-control-lg" id="inputEmail" name="usuEmail"
                                placeholder="email@email.com" required>
                        </div>
                        <div class="mb-3">
                            <label for="inputPass" class="form-label">Senha</label>
                            <input type="password" class="form-control form-control-lg" id="inputPass" name="usuSenha"
                                placeholder="Digite sua senha" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg form-btn-entrar">Entrar</button>
                        <a href="/auth/cadastro" class="btn btn-secondary btn-lg form-btn-entrar">Cadastre-se</a>
                    </form>
                </div>
            </div>
            <div class="col-lg-auto"></div>
        </div>
    </div>
</div>

<script>
    const form = document.querySelector("form");

    form.addEventListener("submit", function (event) {
        let email = document.getElementById("inputEmail").value.normalize().trim();
        let senha = document.getElementById("inputPass").value.normalize().trim();


        document.getElementById("inputEmail").value = email;
        document.getElementById("inputPass").value = senha;

        if (!email || !senha) {
            event.preventDefault();
            alert("Por favor, preencha todos os campos corretamente.");
        }
    });
</script>
