<!--
	Barra padrão do Bootstrap

	https://getbootstrap.com/docs/5.3/components/navbar/
-->

<style>
	.nav-logo-limiter{
		max-width: 150px;
	}
	.nav-item{
		font-size: 1.3rem;
        padding-left: 30px;
	}

    .black-text{
        color: black;
    }
    

</style>

<nav class="navbar navbar-expand-md pb-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/public/img/our-logo.png" alt="" class="nav-logo-limiter">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
					<a class="nav-link black-text" href="/home">Home</a>
				</li> <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/receitas/criar">Criar receitas</a></li>
                      <li><a class="dropdown-item" href="/receitas/">Buscar receitas</a></li>
                    </ul>
                  </li>
				<li class="nav-item">
					<a class="nav-link black-text" href="/sobre">Sobre nós</a>
                </li>
                <li class="nav-item">
                    <a href="/auth" class="btn btn-primary btn-lg">Entrar</a>
                </li>
            </ul>
            
        </div>
    </div>
</nav>


