<!--
	Barra padrão do Bootstrap

	https://getbootstrap.com/docs/5.3/components/navbar/
-->

<style>
	.nav-logo-limiter{
		max-width: 150px;
	}
	.nav-item{
		font-size: 1.3rem;
        padding-left: 30px;
	}

    .black-text{
        color: black;
    }
    

</style>

<nav class="navbar navbar-expand-md pb-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/public/img/our-logo.png" alt="" class="nav-logo-limiter">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
					<a class="nav-link black-text" href="/">Home</a>
				</li>
                <li class="nav-item">
					<a class="nav-link black-text" href="/receitas">Receitas</a>
                </li>
				<li class="nav-item">
					<a class="nav-link black-text" href="/sobre">Sobre nós</a>
                </li>

                <li class="nav-item">
                    <a href="" class="btn btn-primary btn-lg">Entrar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

