<style>
    .my_card{
        background-color: white;

    }

    .alinhar{
        
    }

</style>

<div class="counteiner-fluid ">
    <div class="row">
        <div class="col-md-6">
            <h1><%= produtos.nome %></h1>
            <img src="<%= produtos.imagem %>" class="">
            <p>
                <%= produtos.imagem %>
            </p>
        </div>
    </div>
</div>