@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mingzat&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

img {
	max-width: 100%;
}

html,
body {
	font-family: 'Archivo Black', sans-serif;
	font-style: normal;
	color: #000000;
	font-weight: 400;
	background-color: #FFF9ED;
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
	background-color:#FFF9ED;
}

.limitador {
	max-width: 1500px;
	margin: 0px auto;

	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.conteudo {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	flex: 1 1 auto;
}

.rodape {
	text-align: center;
	background-color: black;
	padding: 2rem;
}

.link-rodape,
.link-rodape:hover {
	color: white;
	text-decoration: none;
}

.btn {
	border-color: #000;
	border-width: 2px;
	box-shadow: 4px 4px 0px #000;
	transition: box-shadow ease-in-out 0.3s;
}

.btn:focus,
.btn:hover,
.btn:active,
.btn:active:hover {
	border-color: #000;
	box-shadow: 0px 0px 0px #000;
}

