<style>

.h1-home{
	font-size: clamp(3rem, 4vw, 4rem);
	line-height: 150%;

}
.img-home{
	max-width: 90%;
}

</style>

<div class="container-fluid">
	<div class="row">
		<div class="col-xl-6 pb-5">
			<h1 class="h1-home">Aprenda cozinhar <br>de maneira</h1>
			<div>
				<img src="/public/img/home/saudavel_text.svg" class="pb-5" alt="">
			</div>
			<div>
				<a href="" class="btn btn-primary btn-lg">Vamos começar</a>
			</div>
		</div>
		<div class="col-xl-6 pb-5">
			<img src="/public/img/home/prato.png" class="img-home" alt="Imagem com refeição apetitosa, frango assado e molho de tomate">
		</div>
	</div>
</div>

