<style>

	h1{
		font-weight: bold;
		font-size: 50px;
		padding-left: 70px;
	}

	p{
		max-width: 500px;
		font-family: Roboto;
	}

	.espaco{
		padding-top: 900px;
	}

</style>
<div class="container-fluid">

	<h1>
		Sobre nós
	</h1>
	<div class="countainer-fluid">
		<div class="row mb-5">
			<div class="col-md-6">	
				<p>
					Somos um grupo de estudantes de sistema de informação da ESPM, criamos esse site com o intuito de te ajudar
					no momento de escolher a refição perfeita para a sua dieta, pois acreditamos que uma alimentação 
					balanceada seja a chave principal para melhorar a qualidade de vida.
				</p>
			</div>
			<div class="col-md-6">
				<img src="/public/img/ESPM logo.jpeg">
			</div>
		</div>
		<div class="row mb-5">
			<div class="col-md-6">	
				<img src="" alt="">
			</div>
			<div class="col-md-6">
				<p>
					Nosso grupo é formado por 5 integrantes do nosso curso, nossos intregrantes são: 
					André Pacheco, Arthur Borba, Enrico Comasseto Di Gioia, Luis Felipe Degaspari e o Luiz Fernando Costa. 
					Todos com um grande interesse no assunto e com o objetivo de conseguir facilitar essa 
					transição para uma vida mais saúdavel.
				</p>
			</div>
		</div>

		<div class="row mb-5">
			<div class="col-md-6">
				<p>
					Com o interesse de todos e a combinação das qualidades de cada um, temos o conhecimento da 
					capacidade que temos para ajudar todos com esse site. André com sua especialidade em trazer 
					informações confiáveis e comandar o nosso grupo. Arthur com sua paixão em esportes desde pequeno,
					sempre por dentro do assunto com o conhecimento de como ter o maior rendimento dentro do esporte. 
					Luiz Fernando e Luis Felipe com a nutrição sempre presente na sua vida, por saber da importância 
					dela e como ela ajuda a ter um melhor resultado na academia e o Enrico que está adotanto essa 
					lifestyle de fazer dietas para melhorar seu físico.
				</p>
			</div>
			<div class="col-md-6">
				
			</div>
		</div>
	</div>
</div>
