<style>

	h1{
		font-weight: bold;
		font-size: 50px;
		padding-left: 70px;
	}

	p{
		max-width: 500px;
		font-family: Roboto;
	}

	.espaco{
		padding-top: 900px;
	}

	.dados{
		padding-left: 10px;
		font-weight: bold;
	}
</style>
<div class="container-fluid">

	<h1>
		Sobre nós
	</h1>
	<div class="countainer-fluid">
		<div class="row mb-5">
			<div class="col-md-6">	
				<p>
					Somos um grupo de estudantes de sistema de informação da ESPM, criamos esse site com o intuito de te ajudar
					no momento de escolher a refição perfeita para a sua dieta, pois acreditamos que uma alimentação 
					balanceada seja a chave principal para melhorar a qualidade de vida.
				</p>
			</div>
			<div class="col-md-6">
				<img src="/public/img/ESPM logo.jpeg">
			</div>
		</div>
		<div class="row mb-5">
			<div class="col-md-6">	
				<img src="" alt="">
			</div>
			<div class="col-md-6">
				<p>
					Nosso grupo é formado por 5 integrantes do nosso curso, nossos intregrantes são: 
					André Pacheco, Arthur Borba, Enrico Comasseto Di Gioia, Luis Felipe Degaspari e o Luiz Fernando Costa. 
					Todos com um grande interesse no assunto e com o objetivo de conseguir facilitar essa 
					transição para uma vida mais saúdavel.
				</p>
			</div>
		</div>

		<div class="row mb-5">
			<div class="col-md-6">
				<p>
					Com o interesse de todos e a combinação das qualidades de cada um, temos o conhecimento da 
					capacidade que temos para ajudar todos com esse site. André com sua especialidade em trazer 
					informações confiáveis e comandar o nosso grupo. Arthur com sua paixão em esportes desde pequeno,
					sempre por dentro do assunto com o conhecimento de como ter o maior rendimento dentro do esporte. 
					Luiz Fernando e Luis Felipe com a nutrição sempre presente na sua vida, por saber da importância 
					dela e como ela ajuda a ter um melhor resultado na academia e o Enrico que está adotanto essa 
					lifestyle de fazer dietas para melhorar seu físico.
				</p>
			</div>
			<div class="col-md-6">
				
			</div>
		</div>
	</div>
</div>

<h1>
	Alguns dados e um pouco mais sobre o projeto
</h1>

<p class="dados"> 
		O projeto tem como objetivo ajudar pessoas que buscam uma alimentação
		mais equilibrada e eficiente, possibilitando o controle de nutrientes e kcal
</p>

<p class="dados">
	Respondentes: 103
	51 Homens / 45 Mulheres / 7 Não informaram o gênero
	Faixa etária de 16 a 57 anos
</p>
<img src="public/img/grafico.jpg" class="dados">



<p class="dados">
	65% tem objetivos relacionados a alimentação, mas não seguem nenhum plano alimentar
</p>

<p class="dados">
	35% Não tem obejtivo nem seguem nenhum plano alimentar
</p>
<h1>Gráfico de interesse no aplicativo</h1>

<p class="dados">
	104 respostas válidas.
</p>

<img src="public/img/Grafico 2.png" class="dados">

<p class="dados">
	60% tem interesse 
	23% tem pouco interesse
	13% Acham indiferente
	4% Não tem interesse
</p>

